*{
    margin: 0;
    padding: 0;
}


#title-1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    font-size: 2rem;
    text-align: center;
}
#pag-1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}

#top-1{
    width: 200px;
    height: auto;
    display: inline;
}

#top-5{
    width: 200px;
    height: auto;
    display: inline;

}


#top-2{
    width: 200px;
    height: auto;
    display: inline;
    padding: 20px;
}

#top-3{
    width: 200px;
    height: auto;
    display: inline;
    padding: 20px;
    
}

#top-4{
    width: 200px;
    height: auto;
    display: inline;
    padding: 20px;
}